body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #0d0d0d;
    padding: 20px 0;
}

.navbar .logo {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    max-width: 800px;
    color: #000000;
    /*color: #ffffff;*/
    background: white;
    box-sizing: border-box;
}

.hero p {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
    box-sizing: border-box;
    background: black;
    max-width: 800px;
}
